<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindEntities2" connectionString="metadata=res://*/Data.NorthwindModel.csdl|res://*/Data.NorthwindModel.ssdl|res://*/Data.NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;AttachDbFilename=|DataDirectory|\Data\northwnd.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>